# Ignore the virtual environment
venv/
apivenv/

# Ignore Python's cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore other files
*.log
.env

# Model artifacts
saved_model.keras
scaler_params.json